@import 'normalize.css';

body, html {
    margin: 0;
    // margin-left: -5vw;
    padding: 0;
    overflow: hidden; // Empêche le défilement de la page
    width: 100%;
    height: 100%;
  }
  
  canvas {
    display: block; // Élimine les marges par défaut autour du canevas
    width: 100vw;
    height: auto;
    object-fit: cover; // Assure que le canevas couvre tout l'écran sans déformation
  }
